
<template>
  <div class="container">
    <div class="row my-3">
      <h3 class="col-1.5">Active Jobs:</h3>
      <form class="form-inline col-3" style="display: inline">
        <input
          v-model="search"
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>title</th>
          <th>company name</th>
          <th>discription</th>
          <th>salary range</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(job, index) in this.filteredJobs" :key="index">
          <td>{{ job.title }}</td>
          <td>{{ job.company.name }}</td>
          <td>{{ job.description }}</td>
          <td>{{ job.min_salary }} - {{ job.max_salary }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      jobs: [],
      search: "",
    };
  },

  computed: {
    filteredJobs: function () {
      return this.jobs.filter((item) => {
        return item.title.match(this.search);
      });
    },
  },

  created() {
    axios
      .get("/student/active_jobs_data")
      .then((response) => {
        this.jobs = response.data;
        console.log(this.jobs);
      })
      .catch((error) => {
        console.log(error);
      });
  },

  methods: {},
};
</script>
<style  scoped>
</style>
