
<template>
  <div class="container">
    <div class="border my-2 p-2">
      <h3>Name: {{ user.name }}</h3>
      <h3>Email: {{ user.email }}</h3>
      <h3>Cover Letter:</h3>
      <p class="lead">{{ user.cover_letter }}</p>
    </div>
    <div class="border my-2 p-2">
      <h3>CVs History:</h3>
      <div class="row">
        <div class="col-12" v-for="(cv, index) in user.cvs" :key="index">
          <a :href="cv.path" target="_blank">CV. #{{ index + 1 }}</a>
        </div>
      </div>
    </div>
    <div class="border my-2 p-2">
      <h3>Edit your profile:</h3>
      <div class="large-12 medium-12 small-12 cell">
        <label
          >File
          <input
            type="file"
            id="file"
            ref="file"
            v-on:change="handleFileUpload()"
          />
        </label>
        <button class="btn btn-success m-2" v-on:click="submitCV()">
          Submit CV
        </button>
        <p v-if="this.cv_done">CV Submitted Successfully!</p>

        <textarea
          class="form-control"
          rows="7"
          type="text"
          v-model="cover_letter_field"
        ></textarea>
        <button class="btn btn-success m-2" v-on:click="submitCoverLetter()">
          Submit Cover Letter
        </button>
        <p v-if="this.letter_done">Cover Letter Submitted Successfully!</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        name: "",
        email: "",
        cvs: [],
        cover_letter: "",
      },
      file: "",
      cover_letter_field: "",
      cv_done: false,
      letter_done: false,
    };
  },

  created() {
    axios
      .get("/student/data")
      .then((response) => {
        this.user = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },

  computed: {},

  methods: {
    submitCoverLetter() {
      axios
        .post("/student/cover_letter", {
          cover_letter: this.cover_letter_field,
        })
        .then((response) => {
          console.log("letter success!!", response.data);
          this.letter_done = true;
          this.user.cover_letter = this.cover_letter_field;
          this.cover_letter_field = "";
        })
        .catch((error) => {
          console.log(error);
          console.log("letter FAILURE!!");
        });
    },

    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },

    submitCV() {
      let formData = new FormData();

      formData.append("file", this.file);

      axios
        .post("/student/cv", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          console.log("cv success!!", response.data);
          this.cv_done = true;
          this.user.cvs.push({
            path: response.data,
          });
          this.file = "";
        })
        .catch((error) => {
          console.log(error);
          console.log("letter FAILURE!!");
        });
    },
  },
};
</script>
<style  scoped>
</style>
