
<template>
  <div v-if="!done" class="container">
      <div class="form-group">
        <label for="exampleInput1">Job Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          id="exampleInput1"
          placeholder="Enter title"
          v-model="job.title"
        />
      </div>
      <div class="form-group">
        <label for="Textarea1">Description</label>
        <textarea
          class="form-control"
          name="description"
          id="Textarea1"
          rows="3"
          v-model="job.description"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="exampleInput2">Minimum salary</label>
        <input
          type="text"
          name="price"
          class="form-control"
          id="exampleInput2"
          v-model="job.min_salary"
        />
      </div>

      <div class="form-group">
        <label for="exampleInput3">Maximum salary</label>
        <input
          type="text"
          name="quantity"
          class="form-control"
          id="exampleInput3"
          v-model="job.max_salary"
        />
      </div>

      <select class="form-control" v-model="job.active">
        <option value="1">active</option>
        <option value="0">not active</option>
      </select>

      <button v-on:click="submitJob()" class="btn btn-primary m-3">
        Submit
      </button>
  </div>
  <p v-else >Your Job has been submitted successfully!</p>
</template>

<script>
export default {
  data() {
    return {
      job: {
        title: "",
        description: "",
        min_salary: null,
        max_salary: null,
        active: 1,
      },
      done: false,
    };
  },

  computed: {},

  methods: {
    submitJob() {
      axios
        .post("/company/add_job", this.job)
        .then((response) => {
          console.log("success!!", response.data);
          this.done = true;
        })
        .catch((error) => {
          console.log(error);
          console.log(" FAILURE!!");
        });
    },
  },
};
</script>
<style  scoped>
</style>
