
<template>
  <div class="container">
    <h3>Company Name: {{ company.name }}</h3>
    <br>
    <h3>Your Company Jobs:</h3>
    <table class="table">
      <thead>
        <tr>
          <th>title</th>
          <th>discription</th>
          <th>salary range</th>
          <th>is active</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(job, index) in company.jobs" :key="index">
          <td>{{ job.title }}</td>
          <td>{{ job.description }}</td>
          <td>{{ job.min_salary }} - {{ job.max_salary }}</td>
          <td v-if="job.active">Yes</td>
          <td v-else>No</td>
          <td>
            <button
              v-if="job.active"
              v-on:click="toggleActive(index)"
              class="btn btn-danger btn-sm"
            >
              DeActivate
            </button>
            <button
              v-else
              v-on:click="toggleActive(index)"
              class="btn btn-success btn-sm"
            >
              Activate
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      jobs: [],
      company: [],
      editing: false,
    };
  },

  computed: {},

  created() {

    axios
      .get("company/data")
      .then((response) => {
        this.company = response.data[0];
        console.log(this.company);
      })
      .catch((error) => {
        console.log(error);
      });
  },

  methods: {
    toggleActive(index) {
      axios
        .post("/company/toggle_active", {
          id: this.company.jobs[index].id,
          active: !this.company.jobs[index].active,
        })
        .then((response) => {
          console.log("success!!", response.data);
          this.company.jobs[index].active = !this.company.jobs[index].active;
        })
        .catch((error) => {
          console.log(error);
          console.log(" FAILURE!!");
        });
    },
  },
};
</script>
<style  scoped>
</style>
